@using PCExpert.Web.Api.Resources
<div>
	<div class="jumbotron">
		<h1>@TextResources.WelcomeToPCExpert</h1>
		<p>@TextResources.PCExpertDescription1</p>
		<p>@TextResources.PCExpertDescription2</p>
	</div>
</div>